<!DOCTYPE html>
<html lang="en">

<head>
	<title>Heal It | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon"
		href="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/3_wienkjtt.png" />

	<script type="text/javascript"></script>
	<link as="font" rel="preload" href="https://fonts.cmsfly.com/css?family=Raleway:&display=swap" />
	<link rel="stylesheet" href="https://fonts.cmsfly.com/css?family=Raleway:&display=swap" />
	<link rel="stylesheet" href="https://cdn.dorik.com/640dfefc10e29e00bfc2dd5e/css/about.css?v=1688563421769" />
	<link rel="stylesheet" href="https://assets.dorik.io/shared/aos.css" />



	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">

	<meta name="robots" content="noindex, follow">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	
</head>

<body>

	<section class="dorik-section dorik-section-1hk3t0m1 ">
		<div class="">
			<div class="container dorik-row-hl6lyzfs-wrapper    ">
				<div class="dorik-row-hl6lyzfs  flex  ">
					<div class="col-lg-1/1 ">
						<div class="column-inner dorik-column-9w6cgzni  1/1">
							<div class="dorik-navbar--wrapper dorik-nav-35cvbzt5-wrapper  sticky-nav">
								<div class="dorik-navbar dorik-nav-35cvbzt5 ">
									<div class="dorik-navbar--brand"><a href="home"><img
												src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/final_logo_2_so020nze.png"
												alt="Logo Caption" width="103px" /></a></div><button
										aria-label="Navbar Toggle" class="dorik-navbar--toggle"
										data-target="#dorikNavbarCollapse"><svg aria-hidden="true" focusable="false"
											data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-fw "
											role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
											<path fill="currentColor"
												d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
											</path>
										</svg> </button>
									<div class="dorik-navbar--collapse collapse" id="dorikNavbarCollapse">
										<div class="dorik-navbar--navs">
											<ul class="dorik-nav--links normalize">
												<li class=""><a href="library" class="dorik-nav--link library  "><span
															class="dorik-nav--link-icon"><svg aria-hidden="true"
																focusable="false" data-prefix="fas"
																data-icon="book-open-reader"
																class="svg-inline--fa fa-book-open-reader icon "
																role="img" xmlns="http://www.w3.org/2000/svg"
																viewBox="0 0 512 512" data-testid="icon-test">
																<path fill="currentColor"
																	d="M160 96a96 96 0 1 1 192 0A96 96 0 1 1 160 96zm80 152V512l-48.4-24.2c-20.9-10.4-43.5-17-66.8-19.3l-96-9.6C12.5 457.2 0 443.5 0 427V224c0-17.7 14.3-32 32-32H62.3c63.6 0 125.6 19.6 177.7 56zm32 264V248c52.1-36.4 114.1-56 177.7-56H480c17.7 0 32 14.3 32 32V427c0 16.4-12.5 30.2-28.8 31.8l-96 9.6c-23.2 2.3-45.9 8.9-66.8 19.3L272 512z">
																</path>
															</svg></span><span
															class="dorik-nav--link-text">Library</span></a></li>
												<li class=""><a href="detector" class="dorik-nav--link detector  "><span
															class="dorik-nav--link-icon"><svg aria-hidden="true"
																focusable="false" data-prefix="fas" data-icon="robot"
																class="svg-inline--fa fa-robot icon " role="img"
																xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
																data-testid="icon-test">
																<path fill="currentColor"
																	d="M320 0c17.7 0 32 14.3 32 32V96H472c39.8 0 72 32.2 72 72V440c0 39.8-32.2 72-72 72H168c-39.8 0-72-32.2-72-72V168c0-39.8 32.2-72 72-72H288V32c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H208zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H304zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H400zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224H64V416H48c-26.5 0-48-21.5-48-48V272c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H576V224h16z">
																</path>
															</svg></span><span
															class="dorik-nav--link-text">Detector</span></a></li>
												<li class=""><a href="treatment"
														class="dorik-nav--link treatment  "><span
															class="dorik-nav--link-icon"><svg aria-hidden="true"
																focusable="false" data-prefix="fas"
																data-icon="notes-medical"
																class="svg-inline--fa fa-notes-medical icon " role="img"
																xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
																data-testid="icon-test">
																<path fill="currentColor"
																	d="M96 352V96c0-35.3 28.7-64 64-64H416c35.3 0 64 28.7 64 64V293.5c0 17-6.7 33.3-18.7 45.3l-58.5 58.5c-12 12-28.3 18.7-45.3 18.7H160c-35.3 0-64-28.7-64-64zM272 128c-8.8 0-16 7.2-16 16v48H208c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h48v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V256h48c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H320V144c0-8.8-7.2-16-16-16H272zm24 336c13.3 0 24 10.7 24 24s-10.7 24-24 24H136C60.9 512 0 451.1 0 376V152c0-13.3 10.7-24 24-24s24 10.7 24 24l0 224c0 48.6 39.4 88 88 88H296z">
																</path>
															</svg></span><span
															class="dorik-nav--link-text">Treatment</span></a></li>
												<li class=""><a href="support" class="dorik-nav--link support  "><span
															class="dorik-nav--link-icon"><svg aria-hidden="true"
																focusable="false" data-prefix="fas"
																data-icon="hand-holding-heart"
																class="svg-inline--fa fa-hand-holding-heart icon "
																role="img" xmlns="http://www.w3.org/2000/svg"
																viewBox="0 0 576 512" data-testid="icon-test">
																<path fill="currentColor"
																	d="M148 76.6C148 34.3 182.3 0 224.6 0c20.3 0 39.8 8.1 54.1 22.4l9.3 9.3 9.3-9.3C311.6 8.1 331.1 0 351.4 0C393.7 0 428 34.3 428 76.6c0 20.3-8.1 39.8-22.4 54.1L302.1 234.1c-7.8 7.8-20.5 7.8-28.3 0L170.4 130.7C156.1 116.4 148 96.9 148 76.6zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z">
																</path>
															</svg></span><span
															class="dorik-nav--link-text">Support</span></a></li>
											</ul>
											<ul class="dorik-nav--btns normalize">
												<li><a href="home"
														class="dorik-nav--btn dorik-nav--btn-5xmbnhej get-started "><span
															class="dorik-nav--btn-icon"></span><span
															class="dorik-nav--btn-text">Get Started</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="container-login100" style="background-image: url('static/images/s.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

			<form class="login100-form validate-form" method="POST" action="">

				<span class="login100-form-title p-b-37">
					Login
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
					<input class="input100" type="text" name="username" placeholder="username" minlength="2" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
					<input class="input100" type="password" name="pass" placeholder="password" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Login
					</button>
				</div><br>


				<div class="container-login100-form-btn">
					<a href="register" class="login100-form-btn">
						Sign Up
					</a>
				</div><br><br>

				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == 'error' %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% else %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% endwith %}
			

				<div class="text-center">
					<a href="home" class="txt2 hov1">
						Home
					</a>
				</div>
			</form>


		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="static/vendor/animsition/js/animsition.min.js"></script>

	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="static/vendor/select2/select2.min.js"></script>

	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>

	<script src="static/vendor/countdowntime/countdowntime.js"></script>

	<script src="static/js/main.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script defer
		src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
		integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
		data-cf-beacon='{"rayId":"7a80d17dd9ab0211","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
		crossorigin="anonymous"></script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>

</html>