<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Heal It | Model</title>
    <link rel="icon"
        href="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/favicon_787pyyl5.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="title" content="Heal It | Model" />
    <meta property="og:title" content="Heal It | Model" />
    <meta name="twitter:title" content="Heal It | Model" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://healit.dorik.io/model" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="model" />
    <script type="text/javascript"></script>
    <link as="font" rel="preload" href="https://fonts.cmsfly.com/css?family=Raleway:&display=swap" />
    <link rel="stylesheet" href="https://fonts.cmsfly.com/css?family=Raleway:&display=swap" />
    <link rel="stylesheet" href="https://cdn.dorik.com/640dfefc10e29e00bfc2dd5e/css/model.css?v=1688563421772" />
    <link rel="stylesheet" href="https://assets.dorik.io/shared/aos.css" />


</head>

<body>

    <section class="dorik-section dorik-section-wkviz1ey ">
        <div class="">
            <div class="container dorik-row-pv0t1s85-wrapper    ">
                <div class="dorik-row-pv0t1s85  flex  ">
                    <div class="col-lg-1/1 ">
                        <div class="column-inner dorik-column-1mcyz8ce  1/1">
                            <div class="dorik-navbar--wrapper dorik-nav-til83pe9-wrapper  sticky-nav">
                                <div class="dorik-navbar dorik-nav-til83pe9 ">
                                    <div class="dorik-navbar--brand"><a href="home"><img
                                                src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/final_logo_2_so020nze.png"
                                                alt="Logo Caption" width="103px" /></a></div><button
                                        aria-label="Navbar Toggle" class="dorik-navbar--toggle"
                                        data-target="#dorikNavbarCollapse"><svg aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-fw "
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="currentColor"
                                                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                                            </path>
                                        </svg> </button>
                                    <div class="dorik-navbar--collapse collapse" id="dorikNavbarCollapse">
                                        <div class="dorik-navbar--navs">
                                            <ul class="dorik-nav--links normalize">
                                                <li class=""><a href="library" class="dorik-nav--link library  "><span
                                                            class="dorik-nav--link-icon"><svg aria-hidden="true"
                                                                focusable="false" data-prefix="fas"
                                                                data-icon="book-open-reader"
                                                                class="svg-inline--fa fa-book-open-reader icon "
                                                                role="img" xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 512 512" data-testid="icon-test">
                                                                <path fill="currentColor"
                                                                    d="M160 96a96 96 0 1 1 192 0A96 96 0 1 1 160 96zm80 152V512l-48.4-24.2c-20.9-10.4-43.5-17-66.8-19.3l-96-9.6C12.5 457.2 0 443.5 0 427V224c0-17.7 14.3-32 32-32H62.3c63.6 0 125.6 19.6 177.7 56zm32 264V248c52.1-36.4 114.1-56 177.7-56H480c17.7 0 32 14.3 32 32V427c0 16.4-12.5 30.2-28.8 31.8l-96 9.6c-23.2 2.3-45.9 8.9-66.8 19.3L272 512z">
                                                                </path>
                                                            </svg></span><span
                                                            class="dorik-nav--link-text">Library</span></a></li>
                                                <li class=""><a href="detector" class="dorik-nav--link detector  "><span
                                                            class="dorik-nav--link-icon"><svg aria-hidden="true"
                                                                focusable="false" data-prefix="fas" data-icon="robot"
                                                                class="svg-inline--fa fa-robot icon " role="img"
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                                                data-testid="icon-test">
                                                                <path fill="currentColor"
                                                                    d="M320 0c17.7 0 32 14.3 32 32V96H472c39.8 0 72 32.2 72 72V440c0 39.8-32.2 72-72 72H168c-39.8 0-72-32.2-72-72V168c0-39.8 32.2-72 72-72H288V32c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H208zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H304zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H400zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224H64V416H48c-26.5 0-48-21.5-48-48V272c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H576V224h16z">
                                                                </path>
                                                            </svg></span><span
                                                            class="dorik-nav--link-text">Detector</span></a></li>
                                                <li class=""><a href="treatment"
                                                        class="dorik-nav--link treatment  "><span
                                                            class="dorik-nav--link-icon"><svg aria-hidden="true"
                                                                focusable="false" data-prefix="fas"
                                                                data-icon="notes-medical"
                                                                class="svg-inline--fa fa-notes-medical icon " role="img"
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                                data-testid="icon-test">
                                                                <path fill="currentColor"
                                                                    d="M96 352V96c0-35.3 28.7-64 64-64H416c35.3 0 64 28.7 64 64V293.5c0 17-6.7 33.3-18.7 45.3l-58.5 58.5c-12 12-28.3 18.7-45.3 18.7H160c-35.3 0-64-28.7-64-64zM272 128c-8.8 0-16 7.2-16 16v48H208c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h48v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V256h48c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H320V144c0-8.8-7.2-16-16-16H272zm24 336c13.3 0 24 10.7 24 24s-10.7 24-24 24H136C60.9 512 0 451.1 0 376V152c0-13.3 10.7-24 24-24s24 10.7 24 24l0 224c0 48.6 39.4 88 88 88H296z">
                                                                </path>
                                                            </svg></span><span
                                                            class="dorik-nav--link-text">Treatment</span></a></li>
                                                <li class=""><a href="support" class="dorik-nav--link support  "><span
                                                            class="dorik-nav--link-icon"><svg aria-hidden="true"
                                                                focusable="false" data-prefix="fas"
                                                                data-icon="hand-holding-heart"
                                                                class="svg-inline--fa fa-hand-holding-heart icon "
                                                                role="img" xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 576 512" data-testid="icon-test">
                                                                <path fill="currentColor"
                                                                    d="M148 76.6C148 34.3 182.3 0 224.6 0c20.3 0 39.8 8.1 54.1 22.4l9.3 9.3 9.3-9.3C311.6 8.1 331.1 0 351.4 0C393.7 0 428 34.3 428 76.6c0 20.3-8.1 39.8-22.4 54.1L302.1 234.1c-7.8 7.8-20.5 7.8-28.3 0L170.4 130.7C156.1 116.4 148 96.9 148 76.6zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z">
                                                                </path>
                                                            </svg></span><span
                                                            class="dorik-nav--link-text">Support</span></a></li>
                                            </ul>
                                            <ul class="dorik-nav--btns normalize">
                                                <li><a href="model#model-info"
                                                        class="dorik-nav--btn dorik-nav--btn-5xmbnhej get-started "><span
                                                            class="dorik-nav--btn-icon"></span><span
                                                            class="dorik-nav--btn-text">Get Started</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dorik-section dorik-section-mq0l6sjw " id="model-info">
        <div class="">
            <div class="container dorik-row-qgxgjkxv-wrapper    ">
                <div class="dorik-row-qgxgjkxv  flex  ">
                    <div class="col-lg-1/1 ">
                        <div class="column-inner dorik-column-0ci5wigq  1/1">
                            <div class="dorik-wrapper dorik-heading-jk11g2ht-wrapper ">
                                <h2 class="dorik-heading dorik-heading-jk11g2ht "><span>Model
                                    </span></h2>
                            </div>
                            <div class="dorik-text dorik-text-e88zqbg8 ">
                                <p>Using natural language processing techniques and machine learning algorithms we can
                                    detect depression and suicidal tendencies from just text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container dorik-row-88lijdg5-wrapper    ">
                <div class="dorik-row-88lijdg5  flex  ">
                    <div class="col-lg-1/3 col-md-1/1 ">
                        <div class="column-inner dorik-column-sm64y1l8  1/3">
                            <div class="dorik-icon-2gnirg5f-wrapper  "><span
                                    class="dorik-icon dorik-icon-2gnirg5f  "><svg aria-hidden="true" focusable="false"
                                        data-prefix="far" data-icon="clone" class="svg-inline--fa fa-clone icon "
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                        style="font-size:20px;color:[object Object]" data-testid="icon-test">
                                        <path fill="currentColor"
                                            d="M64 464H288c8.8 0 16-7.2 16-16V384h48v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V224c0-35.3 28.7-64 64-64h64v48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16zM224 352c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V288c0 35.3-28.7 64-64 64H224z">
                                        </path>
                                    </svg></span></div>
                            <div class="dorik-wrapper dorik-heading-rb3m8twk-wrapper ">
                                <h5 class="dorik-heading dorik-heading-rb3m8twk "><span>
                                    </span>
                                    <div class="dorik-heading__dynamic">
                                        <div class="typed-strings"><span>
                                                <p>Sentiment Analysis</p>
                                            </span></div><span class="typed"></span>
                                    </div>
                                </h5>
                            </div>
                            <div class="dorik-text dorik-text-ps3wx6jv ">
                                <p>We do sentiment analysis using:</p>
                                <p></p>
                                <p>(User Scores - Vader - Roberta).</p>
                                <p></p>
                            </div>
                            <div class="dorik-icon-8kuspwcu-wrapper  "><span
                                    class="dorik-icon dorik-icon-8kuspwcu  "><svg aria-hidden="true" focusable="false"
                                        data-prefix="fas" data-icon="robot" class="svg-inline--fa fa-robot icon "
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                        style="font-size:20px;color:[object Object]" data-testid="icon-test">
                                        <path fill="currentColor"
                                            d="M320 0c17.7 0 32 14.3 32 32V96H472c39.8 0 72 32.2 72 72V440c0 39.8-32.2 72-72 72H168c-39.8 0-72-32.2-72-72V168c0-39.8 32.2-72 72-72H288V32c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H208zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H304zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H400zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224H64V416H48c-26.5 0-48-21.5-48-48V272c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H576V224h16z">
                                        </path>
                                    </svg></span></div>
                            <div class="dorik-wrapper dorik-heading-a6p25trp-wrapper ">
                                <h5 class="dorik-heading dorik-heading-a6p25trp "><span>
                                    </span>
                                    <div class="dorik-heading__dynamic">
                                        <div class="typed-strings"><span>
                                                <p>Depression Detection</p>
                                            </span></div><span class="typed"></span>
                                    </div>
                                </h5>
                            </div>
                            <div class="dorik-text dorik-text-gqlxnia9 ">
                                <p></p>
                                <p>Depression detection using:&nbsp;</p>
                                <p>(NN - Logistic Regression</p>
                                <p>&nbsp;- SVM - Naive Bayes).</p>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1/3 ">
                        <div class="column-inner dorik-column-cwyuc2pf  1/3"><a
                                class="dorik-wrapper dorik-image-ivolr4qw-wrapper " href="home"><img
                                    src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/final_logo_2_so020nze.png"
                                    alt="" loading="lazy" class="dorik-image-ivolr4qw " /></a></div>
                    </div>
                    <div class="col-lg-1/3 col-md-1/1 ">
                        <div class="column-inner dorik-column-hcs3lnow  1/3">
                            <div class="dorik-icon-jqm479va-wrapper  "><span
                                    class="dorik-icon dorik-icon-jqm479va  "><svg aria-hidden="true" focusable="false"
                                        data-prefix="fas" data-icon="clipboard-question"
                                        class="svg-inline--fa fa-clipboard-question icon " role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                        style="font-size:20px;color:[object Object]" data-testid="icon-test">
                                        <path fill="currentColor"
                                            d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM105.8 229.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L216 328.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V314.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H158.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM160 416a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z">
                                        </path>
                                    </svg></span></div>
                            <div class="dorik-wrapper dorik-heading-cohnlly5-wrapper ">
                                <h5 class="dorik-heading dorik-heading-cohnlly5 "><span>
                                    </span>
                                    <div class="dorik-heading__dynamic">
                                        <div class="typed-strings"><span>
                                                <p>Screening Questionnaire</p>
                                            </span></div><span class="typed"></span>
                                    </div>
                                </h5>
                            </div>
                            <div class="dorik-text dorik-text-mtc326h8 ">
                                <p>We will ask to know ur story plus screening questions to get and understand your
                                    situation.</p>
                            </div>
                            <div class="dorik-icon-3kol9xjj-wrapper  "><span
                                    class="dorik-icon dorik-icon-3kol9xjj  "><svg aria-hidden="true" focusable="false"
                                        data-prefix="far" data-icon="flag" class="svg-inline--fa fa-flag icon "
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                        style="font-size:20px;color:[object Object]" data-testid="icon-test">
                                        <path fill="currentColor"
                                            d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z">
                                        </path>
                                    </svg></span></div>
                            <div class="dorik-wrapper dorik-heading-n1ayu56c-wrapper ">
                                <h5 class="dorik-heading dorik-heading-n1ayu56c "><span>
                                    </span>
                                    <div class="dorik-heading__dynamic">
                                        <div class="typed-strings"><span>
                                                <p>Red Flags Detection&nbsp;</p>
                                                <p></p>
                                            </span></div><span class="typed"></span>
                                    </div>
                                </h5>
                            </div>
                            <div class="dorik-text dorik-text-hkwdhdv2 ">
                                <p>Using emotion detection we can detect suicidal tendencies emotions - red flags.&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dorik-section dorik-section-5pbn8d7n ">
        <div class="dorik-section-5pbn8d7n-frame-top dorik-frame-top"></div>
        <div class="dorik-section-5pbn8d7n-frame-bottom dorik-frame-bottom"></div>
        <div class="">
            <div class="container dorik-row-ky4b60y9-wrapper    " data-aos="fade-up" data-aos-easing="ease-in-out"
                data-aos-mirror="true">
                <div class="dorik-row-ky4b60y9  flex  ">
                    <div class="col-lg-5/7 ">
                        <div class="column-inner dorik-column-pma3pmvo  5/7">
                            <div class="dorik-wrapper dorik-heading-rt4tke3l-wrapper ">
                                <h2 class="dorik-heading dorik-heading-rt4tke3l "><span>Sentiment Analysis
                                    </span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container dorik-row-mwrkchdn-wrapper    ">
                <div class="dorik-row-mwrkchdn  flex  ">
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-pa3qagop  1/2" data-aos="fade-up"
                            data-aos-easing="ease-in-out" data-aos-mirror="true">
                            <div class="dorik-iframe dorik-video-0r184rnc  dorik-video-0r184rnc-wrapper "><iframe
                                    title="0r184rnc"
                                    src="https://www.youtube.com/embed/6L6isZV6Etw?fs=1&amp;muted=0&amp;loop=1&amp;autoplay=0&amp;controls=1"
                                    frameBorder="0" allow=""></iframe></div>
                        </div>
                    </div>
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-cs50s7o4  1/2">
                            <div class="dorik-wrapper dorik-heading-zcok8t11-wrapper ">
                                <h4 class="dorik-heading dorik-heading-zcok8t11 "><span>Vader Sentiment&nbsp;
                                    </span></h4>
                            </div>
                            <div class="dorik-line-oidwf5vk-wrapper ">
                                <hr class="dorik-line-oidwf5vk " />
                            </div>
                            <div class="dorik-text dorik-text-qq9pcz8q ">
                                <ul>
                                    <li>VADER (Valence Aware Dictionary and sEntiment Reasoner) is a rule-based
                                        sentiment analysis tool that is specifically attuned to sentiments expressed in
                                        social media. It is based on a lexicon of sentiment-related words and phrases
                                        that have been rated by human annotators as either positive or negative.</li>
                                </ul>
                            </div>
                            <div class="dorik-wrapper dorik-heading-upnwqlbb-wrapper ">
                                <h4 class="dorik-heading dorik-heading-upnwqlbb "><span>Roberta Sentiment
                                    </span></h4>
                            </div>
                            <div class="dorik-line-gidofobx-wrapper ">
                                <hr class="dorik-line-gidofobx " />
                            </div>
                            <div class="dorik-text dorik-text-zorznrxs ">
                                <ul>
                                    <li>Roberta is a pre-trained deep neural network model for natural language
                                        processing (NLP). Roberta achieves state-of-the-art performance on many standard
                                        benchmarks for sentiment analysis and it is trained on a large, diverse corpus
                                        of text data using a multi-task learning framework that involves training on
                                        multiple NLP tasks simultaneously.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dorik-section symbol--zjr9dq0x dorik-section-bwmrqjl9 ">
        <div class="">
            <div class="container dorik-row-ppvlya6i-wrapper    " data-aos="fade-up" data-aos-easing="ease-in-out"
                data-aos-mirror="true">
                <div class="dorik-row-ppvlya6i  flex  ">
                    <div class="col-lg-5/7 ">
                        <div class="column-inner dorik-column-hrhdgzir  5/7">
                            <div class="dorik-wrapper dorik-heading-7cvckei9-wrapper ">
                                <h2 class="dorik-heading dorik-heading-7cvckei9 "><span>Depression Detection
                                    </span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container dorik-row-sfmmd7dq-wrapper    ">
                <div class="dorik-row-sfmmd7dq  flex  ">
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-kepr1kwu  1/2">
                            <div class="dorik-wrapper dorik-heading-2ijd5v5h-wrapper ">
                                <h4 class="dorik-heading dorik-heading-2ijd5v5h "><span>Classification
                                    </span></h4>
                            </div>
                            <div class="dorik-line-ihjsk44m-wrapper ">
                                <hr class="dorik-line-ihjsk44m " />
                            </div>
                            <div class="dorik-text dorik-text-gmcpkba6 ">
                                <ul>
                                    <li>A classification model is a type of machine learning model that is used to
                                        classify or categorize input data into one of several predefined categories or
                                        classes. The model is trained on a labeled dataset, meaning that each data point
                                        in the training set is already categorized with the correct class label. Once
                                        the model has been trained, it can be used to classify new, unseen data into one
                                        of the classes it has learned.</li>
                                </ul>
                            </div>
                            <div class="dorik-line-smoz94d1-wrapper ">
                                <hr class="dorik-line-smoz94d1 " />
                            </div>
                            <div class="dorik-text dorik-text-0qf1fves ">
                                <p>We applied classification models on text to classify if the patient has a depression
                                    or not we and those models are:</p>
                                <ol>
                                    <li>Naive Bayes.</li>
                                    <li>Support Vector Machine.</li>
                                    <li>Logistic Regression.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-h4weg2g0  1/2" data-aos="fade-up"
                            data-aos-easing="ease-in-out" data-aos-mirror="true">
                            <div class="dorik-iframe dorik-video-lol4u7b7  dorik-video-lol4u7b7-wrapper "><iframe
                                    title="lol4u7b7"
                                    src="https://www.youtube.com/embed/hBKI7XvD8R8?fs=1&amp;muted=0&amp;loop=1&amp;autoplay=0&amp;controls=1"
                                    frameBorder="0" allow=""></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dorik-section dorik-section-rqavzitb ">
        <div class="dorik-section-rqavzitb-frame-top dorik-frame-top"></div>
        <div class="">
            <div class="container dorik-row-bzcrvfj3-wrapper    " data-aos="fade-up" data-aos-easing="ease-in-out"
                data-aos-mirror="true">
                <div class="dorik-row-bzcrvfj3  flex  ">
                    <div class="col-lg-5/7 ">
                        <div class="column-inner dorik-column-6g608zih  5/7">
                            <div class="dorik-wrapper dorik-heading-nsy4ud58-wrapper ">
                                <h2 class="dorik-heading dorik-heading-nsy4ud58 "><span>Red Flags Detection
                                    </span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container dorik-row-qs87kxas-wrapper    ">
                <div class="dorik-row-qs87kxas  flex  ">
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-sqddc9zh  1/2" data-aos="fade-up"
                            data-aos-easing="ease-in-out" data-aos-mirror="true">
                            <div class="dorik-iframe dorik-video-2ixbdwnc  dorik-video-2ixbdwnc-wrapper "><iframe
                                    title="2ixbdwnc"
                                    src="https://www.youtube.com/embed/ou-uhY4616A?fs=1&amp;muted=0&amp;loop=1&amp;autoplay=0&amp;controls=1"
                                    frameBorder="0" allow=""></iframe></div>
                        </div>
                    </div>
                    <div class="col-lg-1/2 ">
                        <div class="column-inner dorik-column-3rjphm5m  1/2">
                            <div class="dorik-wrapper dorik-heading-p30l0i75-wrapper ">
                                <h4 class="dorik-heading dorik-heading-p30l0i75 "><span>Emotion Detection
                                    </span></h4>
                            </div>
                            <div class="dorik-line-qt5ohh2d-wrapper ">
                                <hr class="dorik-line-qt5ohh2d " />
                            </div>
                            <div class="dorik-text dorik-text-axh7273f ">
                                <ul>
                                    <li>Emotion detection from text is a natural language processing task that involves
                                        identifying the emotions expressed in a given piece of text, such as a tweet,
                                        email, or customer review. The goal is to classify the text into one or more
                                        emotion categories, such as happy, sad, angry, or neutral, based on the words
                                        used and their context.</li>
                                </ul>
                            </div>
                            <div class="dorik-line-hcu4zm23-wrapper ">
                                <hr class="dorik-line-hcu4zm23 " />
                            </div>
                            <div class="dorik-text dorik-text-ilxi8ydl ">
                                <ul>
                                    <li>We compare the patient text with with suicidal speeches to get the common
                                        emotions and detect red flags if there are any.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dorik-section symbol--xlw50z62 dorik-section-8q7nhwjv ">
        <div class="symbol--xlw50z62-frame-top dorik-frame-top"></div>
        <div class="">
            <div class="container dorik-row-h8dgy7rd-wrapper    ">
                <div class="dorik-row-h8dgy7rd  flex  ">
                    <div class="col-lg-1/3 ">
                        <div class="column-inner dorik-column-nrhdjkgc  1/3"><a
                                class="dorik-wrapper dorik-image-pphs3bmp-wrapper " href="home"><img
                                    src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/640dfefc10e29e00bfc2dd5e/images/final_logo_2_fwzsbrxc.png"
                                    alt="" loading="lazy" class="dorik-image-pphs3bmp " /></a></div>
                    </div>
                    <div class="col-lg-1/4 ">
                        <div class="column-inner dorik-column-ni3jrq03  1/4">
                            <div class="dorik-wrapper dorik-heading-7fw5q8hs-wrapper ">
                                <h5 class="dorik-heading dorik-heading-7fw5q8hs "><span>Sections
                                    </span></h5>
                            </div>
                            <ul class="dorik-list dorik-links-2s9igj06 ">
                                <li class="dorik-list--item"><a href="home" class="dorik-list--link "><span
                                            class="dorik-list--icon"></span><span
                                            class="dorik-list--text">Home</span></a></li>
                                <li class="dorik-list--item"><a href="library" class="dorik-list--link "><span
                                            class="dorik-list--icon"></span><span
                                            class="dorik-list--text">Library</span></a></li>
                                <li class="dorik-list--item"><a href="detector" class="dorik-list--link "><span
                                            class="dorik-list--text">Detector</span></a></li>
                                <li class="dorik-list--item"><a href="treatment" class="dorik-list--link "><span
                                            class="dorik-list--text">Treatment</span></a></li>
                                <li class="dorik-list--item"><a href="support" class="dorik-list--link "><span
                                            class="dorik-list--text">Support</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1/4 ">
                        <div class="column-inner dorik-column-ekvunhg3  1/4">
                            <div class="dorik-wrapper dorik-heading-pkj2mk2b-wrapper ">
                                <h5 class="dorik-heading dorik-heading-pkj2mk2b "><span>Heal It Organization&nbsp;
                                    </span></h5>
                            </div>
                            <ul class="dorik-list dorik-links-ypzzsebk ">
                                <li class="dorik-list--item"><a href="about" class="dorik-list--link "><span
                                            class="dorik-list--icon"></span><span class="dorik-list--text">About
                                            Us</span></a></li>
                                <li class="dorik-list--item"><a href="model" class="dorik-list--link "><span
                                            class="dorik-list--icon"></span><span class="dorik-list--text">Our
                                            Model</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>window.DORIK_PROJECT_ID = "640dfefc10e29e00bfc2dd5e";</script>
    <script>(function popupButton() {
            const popupLinks = document.querySelectorAll(`.popup-btn`);
            popupLinks.forEach(element => {
                let popupId = element.getAttribute('href');
                popupId = popupId.startsWith('#') ? popupId.substring(1) : popupId;
                element.addEventListener('click', () => {
                    if (!popupId) return;
                    let popupRow = document.getElementById(popupId);
                    let closeBtn = document.querySelector(`.close-btn-${popupId}`);
                    let popupOverlayEl = popupRow === null || popupRow === void 0 ? void 0 : popupRow.parentElement;
                    popupOverlayEl === null || popupOverlayEl === void 0 ? void 0 : popupOverlayEl.classList.add(`row-${popupId}-overlay`);
                    popupRow === null || popupRow === void 0 ? void 0 : popupRow.classList.add(`modal-${popupId}-visible`);
                    closeBtn === null || closeBtn === void 0 ? void 0 : closeBtn.classList.add('btn-visible');
                });
            });
        })()</script>
    <script>(function renderPopupModal({
                    exitIntentPopup = {},
                    onloadPopup = {},
                    EXIT_INTENT,
                    ONLOAD
                }) {
                    const modalVisibility = popupId => {
                        let popupRow = document.getElementById(popupId);
                        let closeBtn = document.querySelector(`.close-btn-${popupId}`);
                        let popupOverlayEl = popupRow === null || popupRow === void 0 ? void 0 : popupRow.parentElement;
                        popupOverlayEl === null || popupOverlayEl === void 0 ? void 0 : popupOverlayEl.classList.add(`row-${popupId}-overlay`);
                        popupRow === null || popupRow === void 0 ? void 0 : popupRow.classList.add(`modal-${popupId}-visible`);
                        closeBtn === null || closeBtn === void 0 ? void 0 : closeBtn.classList.add('btn-visible');
                    };

                    document.addEventListener('mouseleave', () => {
                        let interativeModal = localStorage.getItem(`${EXIT_INTENT}-${exitIntentPopup.id}-${exitIntentPopup.suffixId}`);

                        if (exitIntentPopup.id && !interativeModal) {
                            modalVisibility(exitIntentPopup.id);
                        }
                    });
                    window.addEventListener('load', () => {
                        let onloadModal = localStorage.getItem(`${ONLOAD}-${onloadPopup.id}-${onloadPopup.suffixId}`);

                        if (onloadPopup.id && !onloadModal) {
                            modalVisibility(onloadPopup.id);
                        }
                    });
                })({
                    EXIT_INTENT: "EXIT_INTENT",
                    ONLOAD: "ONLOAD",
                    exitIntentPopup: undefined,
                    onloadPopup: undefined
                })</script>
    <script src="https://cdn.dorik.com/common/jquery-3.5.1.min.js"></script>
    <script src="https://assets.dorik.com/common/typed.js@2.0.11"></script>
    <script src="https://assets.dorik.io/shared/aos.js"></script>
    <script type="text/javascript">
            ; (function () {
                var navbar = $(".dorik-nav-til83pe9");
                var navbarCollapse = $(".dorik-navbar--collapse");
                (function ($, navbar, navbarCollapse) {
                    $(document).on("click", "a", function (e) {
                        var a = event.target.closest("a");
                        var hash = a.hash;
                        var stickyNav = $(".sticky-nav");
                        if (hash) {
                            var baseHref = a.href.match(/(^https?:.+)#/);
                            var baseURI = a.baseURI.match(/(^https?:.+)#?/);
                            baseHref = baseHref && baseHref[1];
                            baseURI = baseURI && baseURI[1];
                            if (baseHref && baseURI && baseURI.includes(baseHref)) {
                                e.preventDefault();
                                const section = $(hash).offset();
                                if (!section) return;
                                var collapsedHeight =
                                    navbarCollapse[0]?.clientHeight || 0;
                                var navbarHeight =
                                    navbar[0].clientHeight - collapsedHeight;
                                var scrollTop = section.top;
                                if (stickyNav.length) {
                                    scrollTop = scrollTop - navbarHeight;
                                } else {
                                    scrollTop = scrollTop - collapsedHeight;
                                }
                                var options = {
                                    easing: "linear",
                                };
                                $("html, body").animate(
                                    {
                                        scrollTop: scrollTop,
                                    },
                                    options
                                );
                            }
                        }
                    });
                })($, navbar, navbarCollapse);
            })();

        ; (function () {
            var navbar = document.querySelector(".dorik-nav-til83pe9");
            (function toggleNav(el) {
                const toggleBtn = el.querySelector(".dorik-navbar--toggle");
                const navlist = toggleBtn.nextElementSibling;
                const isMobileView = window.innerWidth < 768;
                toggleBtn &&
                    toggleBtn.addEventListener("click", function (e) {
                        const hasShow = navlist?.classList.contains("show");
                        if (!hasShow) {
                            expend(navlist);
                        } else {
                            collapse(navlist);
                        }
                    });
                navlist.addEventListener("click", function (e) {
                    if (
                        e.target.closest("a") &&
                        !e.target.closest(".is-dropdown")
                    ) {
                        isMobileView && collapse(navlist);
                    } else {
                        var linkValue = e.target.closest("a").href;
                        if (linkValue.startsWith("#")) {
                            e.preventDefault();
                        }
                        const dropdownlist =
                            e.target.parentNode?.nextElementSibling;
                        const hasShow =
                            dropdownlist?.classList.contains("show");

                        if (hasShow) {
                            collapse(dropdownlist);
                        } else {
                            expend(dropdownlist);
                        }
                    }
                });

                let dropdownItems = document.querySelectorAll(
                    ".dorik-nav--dropdown"
                );
                dropdownItems.forEach((item) => {
                    item?.addEventListener("click", () => {
                        collapse(navlist);
                        collapse(item);
                    });
                });

                function expend(navlist) {
                    if (!navlist) return;
                    navlist.classList.add("show");
                    const height = navlist.clientHeight + "px";
                    isMobileView && navlist.classList.add("collapsing");
                    setTimeout(() => {
                        navlist.style.height = height;
                    }, 0);
                    setTimeout(() => {
                        navlist.style.height = null;
                        navlist.classList.remove("collapsing");
                    }, 350);
                }
                function collapse(navlist) {
                    if (!navlist) return;
                    navlist.style.height = navlist.clientHeight + "px";
                    isMobileView && navlist.classList.add("collapsing");
                    setTimeout(() => {
                        navlist.style.height = null;
                    }, 0);
                    setTimeout(() => {
                        navlist.classList.remove("show");
                        navlist.classList.remove("collapsing");
                    }, 350);
                }
            })(navbar);

        })();
        ; (function stickyNav() {
            var navbar = document.querySelector(".dorik-navbar");
            if (navbar) {
                var last_known_scroll_position = 0;
                var ticking = false;

                function scroll(scroll_pos) {
                    var parent = navbar.parentNode;
                    var classList = parent.classList;
                    var upWard = scroll_pos <= 50 && classList.contains("sticky");
                    var downWard = scroll_pos > 50 && !classList.contains("sticky");
                    if (downWard) {
                        var height = parent.clientHeight;
                        parent.style.top = "-" + height + "px";
                        setTimeout(() => {
                            $("body").css({ paddingTop: height + "px" });
                            parent.classList.add("sticky");
                            if (!navbar.closest(".container-fluid")) {
                                navbar.classList.add("container");
                            }
                            parent.style.top = null;
                        }, 0);
                    } else if (upWard) {
                        $("body").css({ paddingTop: 0 });
                        parent.classList.remove("sticky");
                        navbar.classList.remove("container");
                    }
                }

                document.addEventListener("scroll", function (e) {
                    last_known_scroll_position = window.scrollY;

                    if (!ticking) {
                        window.requestAnimationFrame(function () {
                            scroll(last_known_scroll_position);

                            ticking = false;
                        });
                        ticking = true;
                    }
                });
            }
        })();

        ; (function () {
            var dynamicClass = document.querySelector(".dorik-heading-rb3m8twk-wrapper");
            var type = dynamicClass.querySelector(".typed");
            var typedString = dynamicClass.querySelector(".typed-strings");
            var typed = new Typed(type, {
                stringsElement: typedString,
                loop: false,
                backSpeed: 40,
                typeSpeed: 70,
                cursorChar: "",
            });
        })();


        ; (function () {
            var dynamicClass = document.querySelector(".dorik-heading-a6p25trp-wrapper");
            var type = dynamicClass.querySelector(".typed");
            var typedString = dynamicClass.querySelector(".typed-strings");
            var typed = new Typed(type, {
                stringsElement: typedString,
                loop: false,
                backSpeed: 40,
                typeSpeed: 70,
                cursorChar: "",
            });
        })();


        ; (function () {
            var dynamicClass = document.querySelector(".dorik-heading-cohnlly5-wrapper");
            var type = dynamicClass.querySelector(".typed");
            var typedString = dynamicClass.querySelector(".typed-strings");
            var typed = new Typed(type, {
                stringsElement: typedString,
                loop: false,
                backSpeed: 40,
                typeSpeed: 70,
                cursorChar: "",
            });
        })();


        ; (function () {
            var dynamicClass = document.querySelector(".dorik-heading-n1ayu56c-wrapper");
            var type = dynamicClass.querySelector(".typed");
            var typedString = dynamicClass.querySelector(".typed-strings");
            var typed = new Typed(type, {
                stringsElement: typedString,
                loop: false,
                backSpeed: 40,
                typeSpeed: 70,
                cursorChar: "",
            });
        })();

        ; (function () {
            const interval = setInterval(() => {
                if (window.AOS?.init) {
                    clearInterval(interval)
                    window.AOS.init({ disable: "mobile" });
                }
            }, 500);
        }())
    </script>


</body>

</html>